/* Color */




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
   }
   body {
     background-color: black
     font-family: Times New Roman; 
     font-weight: 600;
     font-size: 18px;
     
   }
   a {
    text-decoration: none; 
     
   }
   
   header {
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex; 
   display: flex;  
   justify-content: space-between;
   align-items: center; 
   padding: 50px 95px;
   background-color: white
   
  
   }
   
   .logo {
   cursor: pointer;
     
   }
   
   .nav-area {
   list-style: none; 
     
   }
     
   
   .nav-area li{
    display: inline-block;
    padding: 15px; 
    text-transform: uppercase
   }
   
   h2 {
      margin-bottom: 0;
      
     margin: auto;
     width: 60%;
     padding: 100px;
     text-align: center;
     font-family: Times New Roman; 
     font-weight: 600;
     color: black; 
   
   }
   * {
       font-family: 'Times New Roman', sans-serif;
    
   }
   user agent stylesheet
   h2 {
       display: block;
       font-size: 1.5em;
       margin-block-start: 0.83em;
       margin-block-end: 0.83em;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
      color: black; 
   }
   
   h3 {
      
    text-align: center;
    width: 96%;
     display: block;
      font-size: 1.5em;
       margin-block-start: 0.83em;
       margin-block-end: 3.83em;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
       color: black;
       
   }
   
   p {
     
      text-align: left;
      color:black);
      display: block;
      
       margin-block-start: 0.83em;
       margin-block-end: 3.83em;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
       font-family: Georgia; 
      padding: 10px 69px;
      font-size: 16px;
      width: 100%;
      font-weight: normal;
   }
   
   .woman 1.jpg {
    box-sizing: border-box;
    height: 30%;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./images/profile_pic.jpg");
    border-radius: 8px;
    background-repeat:no-repeat;
    background-size:cover;
  }
  
  
    
  
  
   