style.css {
}

header, footer {
    background-color: #7FC5DD;
    color: white;
    text-align: left;
    padding: 2rem;
  }
header, main, footer {
    margin: 1.25rem auto;
    max-width: 950px;
  
}
background-image: url('IMG_8547_edited.jpg');
img {
  width: 400px,
  height: 300px
}