
stylesheet {
}

header, footer {
    background-color: #7FC5DD;
    color: white;
    text-align: left;
    padding: 2rem;
  }
header, main, footer {
    margin: 1.25rem auto;
    max-width: 250px;
  align-content: left;
{
background-image: url('IMG_8547_edited.jpg');
   
}