element.style {
}
html {
    background-color: white;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
* {
    font-family: 'times new roman', sans-serif;
}
html[Attributes Style] {
    -webkit-locale: "en";
}
user agent stylesheet
html {
    display: block;
}

h3 {
    margin: 0;
    font-family: 'Gugi', sans-serif;
    padding: 20px;
    /* text-align: center; */
    background: blue;
    color: white;
}
main {
    grid-template-columns: 1fr 1fr;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 95%;
    margin: 20px auto;
